<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/media/css/basic.css"/>
	<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js" ></script>

</head>
<body>
	<!-- header -->
	<header>
		</ul>
		</nav>
		</div>      
	</header>
	<!-- #content -->
	<content>	
		<div class="jobadd">
			<form method="post"  enctype="multipart/form-data" action="/job_add/">
			<table class="tables">
				{{form.as_table}}
			</table>
			</form>
