<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="refresh" content="300">
        <link rel="stylesheet" type="text/css" href="/media/css/basic.css"/>
        <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js" ></script>
        <script type="text/javascript" src="/media/mjs/table.js"></script>
        <script type="text/javascript" src="/media/mjs/rrd.js"></script>
</head>

<body>
        <!-- header -->
        <header>
                <h1><span> </span></h1>
                <div class="container">
                <nav>
                <ul>
                        <li><a href="/job_add"></a></li>
                        <li><a href="/task_state_info_list"> </a></li>
                        <li><a href="/job_add"> </a></li>
                </ul>
                </nav>
                </div>
        </header>
	<!-- #content -->
	<content>
