/*
    physical styles
*/

body { 
	background:#eee; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.125em;
	color:#242424;
	margin: 0;  
	padding: 0;
}
/*===== header =====*/
header{   
	height:61px;
	width:99.7%;
	/*overflow:hidden;*/
	position:fixed;
	z-index:1; 
	top:0;
	left:0;  
	border: 1px solid #eee;
	background:#118080;
}

mymemu {
	position: absolute;
	margin-top: 300px;
	height: 63px;
	width:100%;
	font-size:.8125em;
	/*overflow:hidden;*/
	background:#ddd;
}

mymenu over{   
	color:#3a3a3a;
	height:18px;  
	line-height:15px;
	text-decoration:none;
	width:70px;
	text-align:center;
	float:left;
	background:#ff0000;
}
mymenu li a {
	background:#ff0000;
}
.kvmghdiv{
	border: 7px solid #0184cd;
	position:relative;
	top:5px;
	width:316px;
	text-align:left;
	margin: 18px 3px;
	background: #0184cd;
	font-size: 15px;
}
.specialdiv{
	border: 7px solid #0184cd;
	position:relative;
	top:5px;
	width:100px;
	text-align:left;
	margin: 18px 3px;
	background: #0184cd;
	font-size: 15px;
}
h1 {
	font-size:15px;
	color:#fff;
	font-weight:normal;
	position:relative;
	left:10px;
   	top:-5px;
}

.container {
	position: absolute;
	margin-top: -10px;
	height: 33px;
	width:100%;
	font-size:.8125em;
	overflow:hidden;
	background:#ddd;
}

.cross {
        border: 2px solid #bbb;
        position:relative;
        top:65px;
        width:420px;
	height:56px;
        margin: 20px;
	overflow:hidden;
	background: #118080;
}
.cross span{
	text-align:left;
	font-size: 15px;	
	font-weight: bold;
}
.addoption {
	height: 30px;
	width:100%;
	width:100%;
	font-size:.8125em;
	overflow:hidden;
	background:#ddd;
	border: 1px solid #eee;
}

td ul li {
	list-style:none;
	margin-left:-30px;
}
/*
.job_installadd td ul li {
        list-style:none;
        float:left;
        margin-left:-20px;
	margin-right:15px;
	margin-bottom:10px;
}*/


/*===== nav =====*/
nav {
	float:left;
	margin-top: -13px;
	margin-left:-40px;
	height: 20px;
}
nav ul li {
	list-style:none;
	float:left;
	border: 1px solid #eee;
}
	nav ul li a {
