/*
    header styles
*/

/* Global properties ======================================================== */
body { 
	background:#f8fdf8; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.125em;
	color:#242424;
}

/* Header */
header {
	height:45px;
	overflow:hidden;
	background:#f8fdf8;
	float:left;
	width:600px;
}
h1 {
	font-size:25px;
	/*color:#fff;*/
	font-weight:normal;
	position:relative;
	left:10px;
	top:-5px;
}
/*#web-logo {
	/*background:url(../images/logo.png) no-repeat 0 0;*/
	/*margin: 10px 20px;*/
	/*position:absolute;*/
	/*left:32px;
	top:-20px;*/
      

	/*font-size:27px; 
}*/

.totaluser {
	float:right;
