/*
    header styles
*/

/* Global properties ======================================================== */
body { 
	background:#f8fdf8; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%; 
