/*
    physical styles
*/
body {
	margin:0;
	padding:0;
}

#dataMap {
	position:relative;
	margin:0 auto;
	background: white;
	width: 700px; 
	height: 650px;
	font-size:12px;}/*background:url(static_net.png) no-repeat left top;}*/

#dataMap span {
