.DreamMenu { 
position:absolute; 
visibility:hidden; 
z-index:100; 
overflow:hidden; 
width:150px; 
background-color:buttonface; 
border:dimgray 1px solid !important; 
border:buttonhighlight menu menu buttonhighlight 2px outset; 
padding:1px !important; 
