    
/*
    workhistory styles
*/

/* Global properties ======================================================== */
body { 
	background:#118080;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
