/*
    physical styles
*/

body { 
	background:#eee; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.125em;
	color:#242424;
   margin: 0;  
   padding: 0;
}
/*===== header =====*/
header{   
	height:61px;
   width:99.7%;
	overflow:hidden;
   position:fixed;
   z-index:1; 
	top:0;
	left:0;  
   border: 1px solid #eee;
   background:#118080;
